C 0 0 "GPIO4" 0 0 0 0 60 0 L
X "PIN_TEXT" "GPIO4" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "GPIO5" 0 -100 0 0 60 0 L
X "PIN_TEXT" "GPIO5" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "GPIO6" 0 -200 0 0 60 0 L
X "PIN_TEXT" "GPIO6" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GPIO7" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GPIO7" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "IOVDD_1" 0 -400 0 0 60 0 L
X "PIN_TEXT" "IOVDD_1" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "GPIO8" 0 -500 0 0 60 0 L
X "PIN_TEXT" "GPIO8" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "GPIO9" 0 -600 0 0 60 0 L
X "PIN_TEXT" "GPIO9" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "GPIO10" 0 -700 0 0 60 0 L
X "PIN_TEXT" "GPIO10" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "GPIO11" 0 -800 0 0 60 0 L
X "PIN_TEXT" "GPIO11" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "DVDD_1" 0 -900 0 0 60 0 L
X "PIN_TEXT" "DVDD_1" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "GPIO12" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "GPIO12" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "GPIO13" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "GPIO13" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 0 -1200 "GPIO14" 0 -1200 0 0 60 0 L
X "PIN_TEXT" "GPIO14" 230 -1230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1200 0 -1200 -1 0
C 0 -1300 "GPIO15" 0 -1300 0 0 60 0 L
X "PIN_TEXT" "GPIO15" 230 -1330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1300 0 -1300 -1 0
C 0 -1400 "IOVDD_2" 0 -1400 0 0 60 0 L
X "PIN_TEXT" "IOVDD_2" 230 -1430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1400 0 -1400 -1 0
C 0 -1500 "GPIO16" 0 -1500 0 0 60 0 L
X "PIN_TEXT" "GPIO16" 230 -1530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1500 0 -1500 -1 0
C 0 -1600 "GPIO17" 0 -1600 0 0 60 0 L
X "PIN_TEXT" "GPIO17" 230 -1630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1600 0 -1600 -1 0
C 0 -1700 "GPIO18" 0 -1700 0 0 60 0 L
X "PIN_TEXT" "GPIO18" 230 -1730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1700 0 -1700 -1 0
C 0 -1800 "GPIO19" 0 -1800 0 0 60 0 L
X "PIN_TEXT" "GPIO19" 230 -1830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1800 0 -1800 -1 0
C 0 -1900 "GPIO20" 0 -1900 0 0 60 0 L
X "PIN_TEXT" "GPIO20" 230 -1930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1900 0 -1900 -1 0
C 300 -2700 "GPIO21" 300 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO21" 330 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -2500 300 -2700 -1 0
C 400 -2700 "GPIO22" 400 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO22" 430 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -2500 400 -2700 -1 0
C 500 -2700 "GPIO23" 500 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO23" 530 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -2500 500 -2700 -1 0
C 600 -2700 "IOVDD_3" 600 -2700 0 0 60 0 L
X "PIN_TEXT" "IOVDD_3" 630 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -2500 600 -2700 -1 0
C 700 -2700 "GPIO24" 700 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO24" 730 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -2500 700 -2700 -1 0
C 800 -2700 "GPIO25" 800 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO25" 830 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -2500 800 -2700 -1 0
C 900 -2700 "GPIO26" 900 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO26" 930 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -2500 900 -2700 -1 0
C 1000 -2700 "GPIO27" 1000 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO27" 1030 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -2500 1000 -2700 -1 0
C 1100 -2700 "IOVDD_4" 1100 -2700 0 0 60 0 L
X "PIN_TEXT" "IOVDD_4" 1130 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -2500 1100 -2700 -1 0
C 1200 -2700 "XIN" 1200 -2700 0 0 60 0 L
X "PIN_TEXT" "XIN" 1230 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -2500 1200 -2700 -1 0
C 1300 -2700 "XOUT" 1300 -2700 0 0 60 0 L
X "PIN_TEXT" "XOUT" 1330 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -2500 1300 -2700 -1 0
C 1400 -2700 "DVDD_2" 1400 -2700 0 0 60 0 L
X "PIN_TEXT" "DVDD_2" 1430 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -2500 1400 -2700 -1 0
C 1500 -2700 "SWCLK" 1500 -2700 0 0 60 0 L
X "PIN_TEXT" "SWCLK" 1530 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -2500 1500 -2700 -1 0
C 1600 -2700 "SWDIO" 1600 -2700 0 0 60 0 L
X "PIN_TEXT" "SWDIO" 1630 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1600 -2500 1600 -2700 -1 0
C 1700 -2700 "RUN" 1700 -2700 0 0 60 0 L
X "PIN_TEXT" "RUN" 1730 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1700 -2500 1700 -2700 -1 0
C 1800 -2700 "GPIO28" 1800 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO28" 1830 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1800 -2500 1800 -2700 -1 0
C 1900 -2700 "GPIO29" 1900 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO29" 1930 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 1900 -2500 1900 -2700 -1 0
C 2000 -2700 "GPIO30" 2000 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO30" 2030 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 2000 -2500 2000 -2700 -1 0
C 2100 -2700 "GPIO31" 2100 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO31" 2130 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 2100 -2500 2100 -2700 -1 0
C 2200 -2700 "GPIO32" 2200 -2700 0 0 60 0 L
X "PIN_TEXT" "GPIO32" 2230 -2470 90 0.00 60 0 0 0 0 0 1 0 74
L 2200 -2500 2200 -2700 -1 0
C 2600 0 "IOVDD_7" 2600 0 0 0 60 0 R
X "PIN_TEXT" "IOVDD_7" 2370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 0 2600 0 -1 0
C 2600 -100 "ADC_AVDD" 2600 -100 0 0 60 0 R
X "PIN_TEXT" "ADC_AVDD" 2370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -100 2600 -100 -1 0
C 2600 -200 "GPIO47_ADC7" 2600 -200 0 0 60 0 R
X "PIN_TEXT" "GPIO47_ADC7" 2370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -200 2600 -200 -1 0
C 2600 -300 "GPIO46_ADC6" 2600 -300 0 0 60 0 R
X "PIN_TEXT" "GPIO46_ADC6" 2370 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -300 2600 -300 -1 0
C 2600 -400 "GPIO45_ADC5" 2600 -400 0 0 60 0 R
X "PIN_TEXT" "GPIO45_ADC5" 2370 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -400 2600 -400 -1 0
C 2600 -500 "GPIO44_ADC4" 2600 -500 0 0 60 0 R
X "PIN_TEXT" "GPIO44_ADC4" 2370 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -500 2600 -500 -1 0
C 2600 -600 "GPIO43_ADC3" 2600 -600 0 0 60 0 R
X "PIN_TEXT" "GPIO43_ADC3" 2370 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -600 2600 -600 -1 0
C 2600 -700 "GPIO42_ADC2" 2600 -700 0 0 60 0 R
X "PIN_TEXT" "GPIO42_ADC2" 2370 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -700 2600 -700 -1 0
C 2600 -800 "GPIO41_ADC1" 2600 -800 0 0 60 0 R
X "PIN_TEXT" "GPIO41_ADC1" 2370 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -800 2600 -800 -1 0
C 2600 -900 "DVDD_3" 2600 -900 0 0 60 0 R
X "PIN_TEXT" "DVDD_3" 2370 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -900 2600 -900 -1 0
C 2600 -1000 "IOVDD_6" 2600 -1000 0 0 60 0 R
X "PIN_TEXT" "IOVDD_6" 2370 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1000 2600 -1000 -1 0
C 2600 -1100 "GPIO40_ADC0" 2600 -1100 0 0 60 0 R
X "PIN_TEXT" "GPIO40_ADC0" 2370 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1100 2600 -1100 -1 0
C 2600 -1200 "GPIO39" 2600 -1200 0 0 60 0 R
X "PIN_TEXT" "GPIO39" 2370 -1230 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1200 2600 -1200 -1 0
C 2600 -1300 "GPIO38" 2600 -1300 0 0 60 0 R
X "PIN_TEXT" "GPIO38" 2370 -1330 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1300 2600 -1300 -1 0
C 2600 -1400 "GPIO37" 2600 -1400 0 0 60 0 R
X "PIN_TEXT" "GPIO37" 2370 -1430 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1400 2600 -1400 -1 0
C 2600 -1500 "GPIO36" 2600 -1500 0 0 60 0 R
X "PIN_TEXT" "GPIO36" 2370 -1530 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1500 2600 -1500 -1 0
C 2600 -1600 "GPIO35" 2600 -1600 0 0 60 0 R
X "PIN_TEXT" "GPIO35" 2370 -1630 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1600 2600 -1600 -1 0
C 2600 -1700 "GPIO34" 2600 -1700 0 0 60 0 R
X "PIN_TEXT" "GPIO34" 2370 -1730 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1700 2600 -1700 -1 0
C 2600 -1800 "GPIO33" 2600 -1800 0 0 60 0 R
X "PIN_TEXT" "GPIO33" 2370 -1830 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1800 2600 -1800 -1 0
C 2600 -1900 "IOVDD_5" 2600 -1900 0 0 60 0 R
X "PIN_TEXT" "IOVDD_5" 2370 -1930 0 0.00 60 0 0 2 0 0 1 0 74
L 2400 -1900 2600 -1900 -1 0
C 300 1000 "GND" 300 1000 0 0 60 0 R
X "PIN_TEXT" "GND" 330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 300 800 300 1000 -1 0
C 400 1000 "GPIO3" 400 1000 0 0 60 0 R
X "PIN_TEXT" "GPIO3" 430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 400 800 400 1000 -1 0
C 500 1000 "GPIO2" 500 1000 0 0 60 0 R
X "PIN_TEXT" "GPIO2" 530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 500 800 500 1000 -1 0
C 600 1000 "GPIO1" 600 1000 0 0 60 0 R
X "PIN_TEXT" "GPIO1" 630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 600 800 600 1000 -1 0
C 700 1000 "GPIO0" 700 1000 0 0 60 0 R
X "PIN_TEXT" "GPIO0" 730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 700 800 700 1000 -1 0
C 800 1000 "IOVDD_8" 800 1000 0 0 60 0 R
X "PIN_TEXT" "IOVDD_8" 830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 800 800 800 1000 -1 0
C 900 1000 "QSPI_SS" 900 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_SS" 930 770 90 0.00 60 0 0 2 0 0 1 0 74
L 900 800 900 1000 -1 0
C 1000 1000 "QSPI_SD1" 1000 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_SD1" 1030 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 800 1000 1000 -1 0
C 1100 1000 "QSPI_SD2" 1100 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_SD2" 1130 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 800 1100 1000 -1 0
C 1200 1000 "QSPI_SD0" 1200 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_SD0" 1230 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 800 1200 1000 -1 0
C 1300 1000 "QSPI_SCLK" 1300 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_SCLK" 1330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 800 1300 1000 -1 0
C 1400 1000 "QSPI_SD3" 1400 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_SD3" 1430 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 800 1400 1000 -1 0
C 1500 1000 "QSPI_IOVDD" 1500 1000 0 0 60 0 R
X "PIN_TEXT" "QSPI_IOVDD" 1530 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 800 1500 1000 -1 0
C 1600 1000 "USB_OTP_VDD" 1600 1000 0 0 60 0 R
X "PIN_TEXT" "USB_OTP_VDD" 1630 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 800 1600 1000 -1 0
C 1700 1000 "USB_DP" 1700 1000 0 0 60 0 R
X "PIN_TEXT" "USB_DP" 1730 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1700 800 1700 1000 -1 0
C 1800 1000 "USB_DM" 1800 1000 0 0 60 0 R
X "PIN_TEXT" "USB_DM" 1830 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1800 800 1800 1000 -1 0
C 1900 1000 "VREG_FB" 1900 1000 0 0 60 0 R
X "PIN_TEXT" "VREG_FB" 1930 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1900 800 1900 1000 -1 0
C 2000 1000 "VREG_VIN" 2000 1000 0 0 60 0 R
X "PIN_TEXT" "VREG_VIN" 2030 770 90 0.00 60 0 0 2 0 0 1 0 74
L 2000 800 2000 1000 -1 0
C 2100 1000 "VREG_LX" 2100 1000 0 0 60 0 R
X "PIN_TEXT" "VREG_LX" 2130 770 90 0.00 60 0 0 2 0 0 1 0 74
L 2100 800 2100 1000 -1 0
C 2200 1000 "VREG_PGND" 2200 1000 0 0 60 0 R
X "PIN_TEXT" "VREG_PGND" 2230 770 90 0.00 60 0 0 2 0 0 1 0 74
L 2200 800 2200 1000 -1 0
C 2300 1000 "VREG_AVDD" 2300 1000 0 0 60 0 R
X "PIN_TEXT" "VREG_AVDD" 2330 770 90 0.00 60 0 0 2 0 0 1 0 74
L 2300 800 2300 1000 -1 0
L 200 800 2400 800 -1 0
L 2400 -2500 2400 800 -1 0
L 2400 -2500 200 -2500 -1 0
L 200 800 200 -2500 -1 0
P "$LOCATION" "?" 2450 970 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

